---
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";

export interface Props {
    title?: string;
    description?: string;
    image?: string;
}

const {
    title = SITE_TITLE,
    description = SITE_DESCRIPTION,
    image = "/social-image.png",
} = Astro.props;

const imageUrl = new URL(image, Astro.url.origin);
---

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>

    <meta name="description" content={description} />
    <link rel="canonical" href={Astro.url.href} />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />

    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url.href} />
    <meta property="og:image" content={imageUrl} />
    <meta
        property="og:image:alt"
        content={`Imagem de destaque para "${title}"`}
    />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content={imageUrl} />
    <meta
        name="twitter:image:alt"
        content={`Imagem de destaque para "${title}"`}
    />

    <meta name="theme-color" content="#FFD700" />
</head>
