---
import { getCollection } from "astro:content";
import IndexLayout from "../layouts/IndexLayout.astro";
import { SectionHeader, ContentCard } from "../components/blog";

const allNews = await getCollection("noticias", ({ data }) => !data.draft);
const allRecipes = await getCollection("receitas", ({ data }) => !data.draft);
const allMedia = await getCollection("midias", ({ data }) => !data.draft);
const allFacts = await getCollection(
  "fatos-aleatorios",
  ({ data }) => !data.draft,
);

const allContent = [...allNews, ...allRecipes, ...allMedia, ...allFacts].sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);

const [featuredItem, ...otherItems] = allContent;

const categoryMap = {
  noticias: { label: "Notícia", color: "#e52e71" },
  receitas: { label: "Receita", color: "#2e9de5" },
  midias: { label: "Mídia", color: "#2ee59d" },
  "fatos-aleatorios": { label: "Fato!", color: "#e5a12e" },
};
---

<IndexLayout>
  {
    featuredItem && (
      <section class="featured-section">
        <SectionHeader title="Destaque da Semana" />
        <ContentCard
          item={featuredItem}
          categoryLabel={categoryMap[featuredItem.collection].label}
          categoryColor={categoryMap[featuredItem.collection].color}
        />
      </section>
    )
  }

  <section>
    <SectionHeader title="Explore Mais" />
    <div class="content-gallery">
      {otherItems.length === 0 && <p>Nenhum conteúdo encontrado.</p>}
      {
        otherItems.map((item) => (
          <ContentCard
            item={item}
            categoryLabel={categoryMap[item.collection].label}
            categoryColor={categoryMap[item.collection].color}
          />
        ))
      }
    </div>
  </section>
</IndexLayout>

<style>
  .content-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2rem;
  }
</style>
