---
import '../styles/normalize.css';
import '../styles/global.css';
import { getEntry } from 'astro:content';

import { Head, Header, Footer } from '../components/layout';
import { WeeklyColumn } from '../components/widgets';
import { NewsColumn } from '../components/news';
import type { CollectionEntry } from 'astro:content';

type SupportedCollection =
  | 'noticias'
  | 'receitas'
  | 'midias'
  | 'fatos-aleatorios';
type ContentData = CollectionEntry<SupportedCollection>['data'];

interface Props {
  title?: string;
  description?: string;
  image?: any;
  frontmatter?: ContentData;
  type?: 'website' | 'article';
}

const { title, description, image, frontmatter, type: propType } = Astro.props;

let authorName: string | undefined = undefined;

if (frontmatter?.author) {
  const authorEntry = await getEntry(frontmatter.author);
  if (authorEntry) {
    authorName = authorEntry.data.name;
  }
}

const ogType: 'website' | 'article' = frontmatter
  ? 'article'
  : propType || 'website';

const category =
  frontmatter && 'category' in frontmatter ? frontmatter.category : undefined;
const imageForHead = frontmatter?.image?.src ?? image;

const finalTitle = frontmatter?.title ?? title ?? 'Quack News';
const finalDesc = frontmatter?.description ?? description;
---

<html lang="pt-br">
  <Head
    title={finalTitle}
    description={finalDesc}
    image={imageForHead}
    type={ogType}
    publishDate={frontmatter?.pubDate}
    author={authorName}
    tags={frontmatter?.tags}
    category={category}
  />

  <body>
    <div class="wrapper">
      <Header />
      <div class="main-content-grid">
        <main class="content">
          <slot />
        </main>
        <WeeklyColumn />
        <NewsColumn />
      </div>
      <Footer />
    </div>
  </body>
</html>
